<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
    <header th:replace="fragments::header"></header>

    <form method="post" >
        <div class="form-group">
            <label>Name
                <input type="text" th:field="${event.name}" class="form-control">
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Description
                <input type="text" th:field="${event.description}" class="form-control">
            </label>
            <p class="error" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>Contact Email
                <input type="text" th:field="${event.contactEmail}" class="form-control">
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>
        <div class="form-group">
            <label>Location
                <input type="text" th:field="${event.location}" class="form-control">
            </label>
            <p class="error" th:errors="${event.location}"></p>
        </div>
        <div class="form-group">
            <label>Is Registered
                <input type="checkbox" th:field="${event.registered}" class="form-check-inline">
            </label>
            <p class="error" th:errors="${event.registered}"></p>
        </div>
        <div class="form-group">
            <label>Number of Attendee
                <input type="text" th:field="${event.numberOfAttendee}" class="form-control">
            </label>
            <p class="error" th:errors="${event.numberOfAttendee}"></p>
        </div>
        <div class="form-group">
            <label>Registration Date
                <input type="text" th:field="${event.registrationDate}" class="form-control">
            </label>
            <p class="error" th:errors="${event.registrationDate}"></p>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    </form>
</body>
</html>