<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
    <h1>All Events</h1>
    <header th:replace="fragments::header"></header>
    <p th:unless="${events} and ${events.size()}">No Events!</p>
    <table class="table table-striped">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Address</th><th>Picture</th></tr>
        </thead>
        <tbody>
            <th:block th:each="event:${events}">
            <tr>
                <td th:text="${event.getKey()}">Name</td><td th:text="${event.getValue()}">Description</td>
                <td th:replace="fragments::address"></td><td><img th:replace="fragments::image"/></td>
            </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>